@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/kopubbatang.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: "Inder", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeSpeed;
}

html,
body {
  scroll-behavior: smooth;
}

.nav-item {
  @apply text-[22px] leading-[28px] mx-8 hover:text-black cursor-pointer;
}

.main-title {
  @apply text-[80px] leading-[100px] text-center min-w-[348px] min-h-[134px] items-center flex justify-center;
}

.about-title {
  @apply font-inter font-semibold underline underline-offset-8;
}

.black-line {
  @apply border-t-1 border-black;
}

.home__for-men {
  @apply rounded-[20px] overflow-hidden;
}

.featured-image {
  @apply object-cover object-center;
}

.featured-title {
  @apply break-all leading-[21px] mt-[30px] font-featured;
}

.featured-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.footer-col-title {
  @apply leading-6 font-bold;
}

.footer-col-item li {
  @apply leading-6 opacity-[71%] mt-[38.17px];
}

.quantity-button {
  @apply w-1/3 cursor-pointer;
}

.cancel-button {
  @apply h-[34px] border-1 border-black rounded-5 px-[10px] text-15 hover:border-secondary hover:text-secondary;
}

.confirm-button {
  @apply h-[34px] bg-primary rounded-5 px-[10px] text-15 text-white ml-5 hover:bg-secondary;
}

.sort-outline {
  text-shadow: -0.35px -0.35px 0 #000, 0.35px -0.35px 0 #000,
    -0.35px 0.35px 0 #000, 0.35px 0.35px 0 #000;
}

th {
  @apply font-normal;
}

.cart-item {
  @apply text-[18px] leading-[23px];
}

.default-input {
  @apply w-full h-[45px] mt-[10px] px-4 font-normal text-[18px];
}

.default-button {
  @apply bg-primary hover:bg-secondary rounded-[14px] text-white text-[36px];
}

.input-label {
  @apply font-semibold mt-[20px];
}

.radio-input {
  accent-color: #c85a27;
}

.ant-picker-input > input::placeholder {
  @apply text-black font-normal;
}

.ant-picker .ant-picker-input >input{
  @apply text-[18px]
}


.my-select-container .ant-select .ant-select-selector {
  @apply border-black border-1 rounded-[10px] w-full h-[45px];
}

.ant-select {
  @apply p-0;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  @apply h-full;
}

.ant-select-selection-item {
  @apply flex items-center;
}

.ant-form input[type="file"]{
  display: none
}

.ant-form label {
  @apply text-[18px];
}

.ant-form-item {
  @apply mb-0;
}

.account-title {
  @apply text-[30px] font-inter font-bold;
}

.order-detail-title {
  @apply text-[#223263] opacity-50;
}

.order-detail-value {
  @apply text-[#223263];
}

.order-detail-heading {
  @apply text-[#223263] font-bold text-[24px];
}

.light-blue-border {
  @apply border-[1.72px] border-[#EBF0FF] rounded-[8.6px] p-[27px];
}

.changepassword-input {
  @apply mt-[19px] border-1 border-black rounded-[10px] h-[53px] p-4;
}

.auth-input {
  @apply border-1 border-account-nav rounded-[10px] w-full h-[52px] px-4 text-20;
}

.ant-form-item-explain-error {
  @apply text-[18px];
}

.auth-line {
  @apply h-[1px] bg-account-nav flex-1;
}

.auth-button {
  @apply flex items-center justify-center gap-x-[13px];
}

.auth-border {
  @apply border-1 border-black35 rounded-[5px];
}

.auth-primary-button {
  @apply bg-primary text-white w-full rounded-[10px] h-[52px] border-1 border-account-nav 
  hover:bg-primary hover:text-white hover:border-1 hover:border-account-nav
  focus:bg-primary focus:text-white focus:border-1 focus:border-account-nav;
}

.auth-prefix {
  @apply mr-3;
}

.deli-info h2 {
  @apply text-[21px];
}

.black-rounded-border {
  @apply border-1 border-black rounded-[10px];
}

.deli-button {
  @apply bg-primary hover:bg-secondary text-white font-poppins font-bold w-full drop-shadow-[0_17px_51px_rgba(64,191,255,0.24)];
}

.edit-button {
  @apply px-6 py-4 text-[14px] deli-button rounded-[5px];
}

.address-phone {
  @apply text-[#9098B1] font-poppins;
}

.address-modify-container {
  @apply flex items-center justify-between;
}

.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.loading-animation {
  animation: spin 1s infinite linear;
}

.ant-dropdown-menu {
  border-radius: 10px;
  top: 10px;
}
.ant-dropdown-menu-item {
  padding: 15px;
  text-align: center;
}

.ant-skeleton.ant-skeleton-element {
  @apply w-full;
}

textarea.ant-input {
  min-height: 140px;
}

.row {
  @apply flex items-center;
}