@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/kopubbatang.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: 'Inder', sans-serif, 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-rendering: optimizeSpeed;
}

html, body {
  scroll-behavior: smooth;
}

.nav-item {
  @apply text-[22px] leading-[28px] text-nav-item mx-8 hover:text-black cursor-pointer
}

.main-title {
  @apply text-[80px] leading-[100px] text-center min-w-[348px] min-h-[134px] items-center flex justify-center
}

.black-line {
  @apply border-t-1 border-black
}

.home__for-men {
  @apply rounded-[20px] overflow-hidden
}

.featured-image {
  @apply object-cover object-center
}

.featured-title {
  @apply break-all leading-[21px] mt-[30px] font-featured
}

.footer-col-title {
  @apply leading-6 font-bold
}

.footer-col-item li {
  @apply leading-6 opacity-[71%] mt-[38.17px]
}

.quantity-button {
  @apply w-1/3
}

.sort-outline {
  text-shadow: -0.35px -0.35px 0 #000, 0.35px -0.35px 0 #000, -0.35px 0.35px 0 #000, 0.35px 0.35px 0 #000;
}

th {
  @apply font-normal
}

.cart-item {
  @apply text-[18px] leading-[23px]
}